.selectSortBy{
  min-width: 200px;
}
.login-form-container {
  background-color: #f0f2f5; /* Light background for the whole container */
  padding: 20px; /* Add padding around the form */
}

.ant-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for the card */
}